{{- range .Apps }}
// {{.Name}} Application
type {{.StructName}} struct {
    ID          string
    Name        string
    Description string
    Sends       map[Resource][]Message
    Receives    map[Resource][]Message
}

// New{{.StructName}} creates an instance of {{.Name}} application
func New{{.StructName}}() *{{.StructName}} {
    return &{{.StructName}}{
        ID:          "{{.ID}}",
        Name:        "{{.Name}}",
        Description: "{{.Description}}",
        Sends: map[Resource][]Message{
{{- range .Sends }}
            {{.ResourceStructName}}{}: {
{{- range .Messages }}
                {{.StructName}}{},
{{- end }}
            },
{{- end }}
        },
        Receives: map[Resource][]Message{
{{- range .Receives }}
            {{.ResourceStructName}}{}: {
{{- range .Messages }}
                {{.StructName}}{},
{{- end }}
            },
{{- end }}
        },
    }
}

// Implement App interface methods
func (a *{{.StructName}}) GetID() string {
    return a.ID
}

func (a *{{.StructName}}) GetName() string {
    return a.Name
}

func (a *{{.StructName}}) GetDescription() string {
    return a.Description
}
{{- end }}