{{range .Messages}}
type {{.StructName}} struct{}

func (m {{.StructName}}) ID() string {
    return "{{.ID}}"
}

func (m {{.StructName}}) Name() string {
    return "{{.Name}}"
}

func (m {{.StructName}}) SchemaIDAndEdit() string {
    return "{{.SchemaID}}:{{.SchemaVersion}}"
}

func (m {{.StructName}}) Schema() Schema {
    return {{.SchemaStructName}}{}
}

func (m {{.StructName}}) Description() string {
    return "{{.Description}}"
}

{{end}}